
@{
    ViewData["Title"] = "Index";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u0" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u1" class="ax_default box_1">
            <div id="u1_div" class=""></div>
            <div id="u1_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u2" class="ax_default heading_1">
            <div id="u2_div" class=""></div>
            <div id="u2_text" class="text ">
                <p><span>Studia Podyplomowe</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u3" class="ax_default heading_2">
            <div id="u3_div" class=""></div>
            <div id="u3_text" class="text ">
                <p><span>Zgłoszenia prac dyplomowych</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u4" class="ax_default image">
            <img id="u4_img" class="img " src="images/edycja_zg_oszenia_pracy_dyplomowej/u4.png" />
            <div id="u4_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u5" class="ax_default droplist">
            <div id="u5_div" class=""></div>
            <select id="u5_input" class="u5_input">
                <option class="u5_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u5_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u5_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6" class="ax_default heading_2">
            <div id="u6_div" class=""></div>
            <div id="u6_text" class="text ">
                <p><span>Egzaminy</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u7" class="ax_default image">
            <img id="u7_img" class="img " src="images/edycja_zg_oszenia_pracy_dyplomowej/u7.png" />
            <div id="u7_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u8" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u9" class="ax_default box_1">
            <div id="u9_div" class=""></div>
            <div id="u9_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u10" class="ax_default label">
            <div id="u10_div" class=""></div>
            <div id="u10_text" class="text ">
                <p><span>Jesteś: Kierownikiem</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u11" class="ax_default image">
            <img id="u11_img" class="img " src="images/edycja_zg_oszenia_pracy_dyplomowej/u11.png" />
            <div id="u11_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u12" class="ax_default label">
            <div id="u12_div" class=""></div>
            <div id="u12_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u13" class="ax_default image">
            <img id="u13_img" class="img " src="images/edycja_zg_oszenia_pracy_dyplomowej/u13.png" />
            <div id="u13_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u14" class="ax_default box_1">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u15" class="ax_default label">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
            <p><span>Zgłoszenia prac dyplomowych</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u16" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1480" data-height="600">

        <!-- Unnamed (Rectangle) -->
        <div id="u17" class="ax_default box_1">
            <div id="u17_div" class=""></div>
            <div id="u17_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u18" class="ax_default label">
            <div id="u18_div" class=""></div>
            <div id="u18_text" class="text ">
                <p><span>Edycja danych dotyczących pracy dyplomowej</span></p>
            </div>
        </div>

        <!-- Imie_nazwisko_TextField (Text Field) -->
        <div id="u19" class="ax_default text_field" data-label="Imie_nazwisko_TextField">
            <div id="u19_div" class=""></div>
            <input id="u19_input" type="text" value="1" class="u19_input" />
        </div>

        <!-- Temat_pracy_TextArea (Text Area) -->
        <div id="u20" class="ax_default text_area" data-label="Temat_pracy_TextArea">
            <div id="u20_div" class=""></div>
            <textarea id="u20_input" class="u20_input">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum felis ut mi molestie sodales. Suspendisse consectetur pulvinar interdum. Praesent a nisi rutrum, porttitor neque nec, sollicitudin leo.</textarea>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u21" class="ax_default button">
            <div id="u21_div" class=""></div>
            <div id="u21_text" class="text ">
                <p><span>Zapisz</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u22" class="ax_default label">
            <div id="u22_div" class=""></div>
            <div id="u22_text" class="text ">
                <p><span>Wszystkie pola są obligatoryjne.</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u23" class="ax_default label">
            <div id="u23_div" class=""></div>
            <div id="u23_text" class="text ">
                <p><span>Opiekun pracy</span></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u24" class="ax_default droplist">
            <div id="u24_div" class=""></div>
            <select id="u24_input" class="u24_input">
                <option class="u24_input_option" value="Edyta Frąckiewicz">Edyta Frąckiewicz</option>
                <option class="u24_input_option" value="Studetn 1">Studetn 1</option>
            </select>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u25" class="ax_default label">
            <div id="u25_div" class=""></div>
            <div id="u25_text" class="text ">
                <p><span>Numer tematu</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u26" class="ax_default label">
            <div id="u26_div" class=""></div>
            <div id="u26_text" class="text ">
                <p><span>Temat pracy</span></p>
            </div>
        </div>

        <!-- Temat_pracy_TextArea (Text Area) -->
        <div id="u27" class="ax_default text_area" data-label="Temat_pracy_TextArea">
            <div id="u27_div" class=""></div>
            <textarea id="u27_input" class="u27_input">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum felis ut mi molestie sodales. Suspendisse consectetur pulvinar interdum. Praesent a nisi rutrum, porttitor neque nec, sollicitudin leo. Morbi feugiat velit id purus posuere aliquet. Donec ultricies enim sed commodo gravida. Fusce ac tortor felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent non mauris in metus mattis vehicula. Aenean a libero ut augue imperdiet mollis.
</textarea>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u28" class="ax_default label">
            <div id="u28_div" class=""></div>
            <div id="u28_text" class="text ">
                <p><span>Cele pracy</span></p>
            </div>
        </div>

        <!-- Temat_pracy_TextArea (Text Area) -->
        <div id="u29" class="ax_default text_area" data-label="Temat_pracy_TextArea">
            <div id="u29_div" class=""></div>
            <textarea id="u29_input" class="u29_input">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed bibendum felis ut mi molestie sodales. Suspendisse consectetur pulvinar interdum. Praesent a nisi rutrum, porttitor neque nec, sollicitudin leo. Morbi feugiat velit id purus posuere aliquet. Donec ultricies enim sed commodo gravida. Fusce ac tortor felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent non mauris in metus mattis vehicula. Aenean a libero ut augue imperdiet mollis.
</textarea>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u30" class="ax_default label">
            <div id="u30_div" class=""></div>
            <div id="u30_text" class="text ">
                <p><span>Zakres pracy</span></p>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
