
@{
    ViewData["Title"] = "Index";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u213" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u214" class="ax_default box_1">
            <div id="u214_div" class=""></div>
            <div id="u214_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u215" class="ax_default heading_1">
            <div id="u215_div" class=""></div>
            <div id="u215_text" class="text ">
                <p><span>Studia Podyplomowe</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u216" class="ax_default heading_2">
            <div id="u216_div" class=""></div>
            <div id="u216_text" class="text ">
                <p><span>Egzaminy</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u217" class="ax_default image">
            <img id="u217_img" class="img " src="images/modyfikacja_dodawanie_pytania/u217.png" />
            <div id="u217_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u218" class="ax_default droplist">
            <div id="u218_div" class=""></div>
            <select id="u218_input" class="u218_input">
                <option class="u218_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u218_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u218_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u219" class="ax_default heading_2">
            <div id="u219_div" class=""></div>
            <div id="u219_text" class="text ">
                <p><span>Zgłoszenia prac dyplomowych</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u220" class="ax_default image">
            <img id="u220_img" class="img " src="images/start_kierownik/u182.png" />
            <div id="u220_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u221" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u222" class="ax_default box_1">
            <div id="u222_div" class=""></div>
            <div id="u222_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u223" class="ax_default label">
            <div id="u223_div" class=""></div>
            <div id="u223_text" class="text ">
                <p><span>Jesteś: Kierownikiem</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u224" class="ax_default image">
            <img id="u224_img" class="img " src="images/niepoprawne_dane_formularz/u13.png" />
            <div id="u224_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u225" class="ax_default label">
            <div id="u225_div" class=""></div>
            <div id="u225_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u226" class="ax_default image">
            <img id="u226_img" class="img " src="images/niepoprawne_dane_formularz/u15.svg" />
            <div id="u226_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u227" class="ax_default box_1">
        <div id="u227_div" class=""></div>
        <div id="u227_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u228" class="ax_default label">
        <div id="u228_div" class=""></div>
        <div id="u228_text" class="text ">
            <p><span>Pytanie z egzaminu</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u229" class="ax_default" data-label="Content 1 box" data-left="410" data-top="145" data-width="1480" data-height="436">

        <!-- Unnamed (Rectangle) -->
        <div id="u230" class="ax_default box_1">
            <div id="u230_div" class=""></div>
            <div id="u230_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u231" class="ax_default label">
            <div id="u231_div" class=""></div>
            <div id="u231_text" class="text ">
                <p><span>Szczegóły pytania</span></p>
            </div>
        </div>

        <!-- Input (Group) -->
        <div id="u232" class="ax_default" data-label="Input" data-left="430" data-top="231" data-width="1440" data-height="270">

            <!-- Fields (Group) -->
            <div id="u233" class="ax_default" data-label="Fields" data-left="700" data-top="231" data-width="1170" data-height="270">

                <!-- Temat_pracy_TextArea (Text Area) -->
                <div id="u234" class="ax_default text_area" data-label="Temat_pracy_TextArea">
                    <div id="u234_div" class=""></div>
                    <textarea id="u234_input" class="u234_input"></textarea>
                </div>

                <!-- Imie_nazwisko_TextField (Text Field) -->
                <div id="u235" class="ax_default text_field" data-label="Imie_nazwisko_TextField">
                    <div id="u235_div" class=""></div>
                    <input id="u235_input" type="text" value="" class="u235_input" />
                </div>

                <!-- Temat_pracy_TextArea (Text Area) -->
                <div id="u236" class="ax_default text_area" data-label="Temat_pracy_TextArea">
                    <div id="u236_div" class=""></div>
                    <textarea id="u236_input" class="u236_input"></textarea>
                </div>
            </div>

            <!-- Labels (Group) -->
            <div id="u237" class="ax_default" data-label="Labels" data-left="430" data-top="240" data-width="250" data-height="253">

                <!-- Unnamed (Rectangle) -->
                <div id="u238" class="ax_default label">
                    <div id="u238_div" class=""></div>
                    <div id="u238_text" class="text ">
                        <p><span>Treść</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u239" class="ax_default label">
                    <div id="u239_div" class=""></div>
                    <div id="u239_text" class="text ">
                        <p><span>Odpowiedź</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u240" class="ax_default label">
                    <div id="u240_div" class=""></div>
                    <div id="u240_text" class="text ">
                        <p><span>Liczba punktów</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u241" class="ax_default button">
            <div id="u241_div" class=""></div>
            <div id="u241_text" class="text ">
                <p><span>Zatwierdź</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u242" class="ax_default label">
            <div id="u242_div" class=""></div>
            <div id="u242_text" class="text ">
                <p><span>Wszystkie pola są obligatoryjne.</span></p>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>