
@{
    ViewData["Title"] = "Details";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u626" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u627" class="ax_default box_1">
            <div id="u627_div" class=""></div>
            <div id="u627_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u628" class="ax_default heading_1">
            <div id="u628_div" class=""></div>
            <div id="u628_text" class="text ">
                <p><span>Studia Podyplomowe</span></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u629" class="ax_default droplist">
            <div id="u629_div" class=""></div>
            <select id="u629_input" class="u629_input">
                <option class="u629_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u629_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u629_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- prace (Group) -->
        <div id="u630" class="ax_default" data-label="prace" data-left="30" data-top="196" data-width="228" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u631" class="ax_default heading_2">
                <div id="u631_div" class=""></div>
                <div id="u631_text" class="text ">
                    <p><a asp-controller="LecturerFinalThesisList" asp-action="Index">Ocenianie prac końcowych</a></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u632" class="ax_default image">
                <img id="u632_img" class="img " src="../images/lecturerindex/u238.png" />
                <div id="u632_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- oceny (Group) -->
        <div id="u633" class="ax_default" data-label="oceny" data-left="30" data-top="246" data-width="169" data-height="30">

            <!-- Unnamed (Image) -->
            <div id="u634" class="ax_default image">
                <img id="u634_img" class="img " src="../images/lecturerfinalthesisformdetails/u6.png" />
                <div id="u634_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u635" class="ax_default heading_2">
                <div id="u635_div" class=""></div>
                <div id="u635_text" class="text ">
                    <p><a asp-controller="LecturerGradesList" asp-action="Index">Oceny studentów</a></p>
                </div>
            </div>
        </div>

        <!-- obecnosci (Group) -->
        <div id="u636" class="ax_default" data-label="obecnosci" data-left="30" data-top="296" data-width="225" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u637" class="ax_default heading_2">
                <div id="u637_div" class=""></div>
                <div id="u637_text" class="text ">
                    <p><a asp-controller="LecturerPresenceList" asp-action="Index">Zarządzanie obecnościami</a></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u638" class="ax_default image">
                <img id="u638_img" class="img " src="../images/participantpresence/u559.png" />
                <div id="u638_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u639" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u640" class="ax_default box_1">
            <div id="u640_div" class=""></div>
            <div id="u640_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u641" class="ax_default label">
            <div id="u641_div" class=""></div>
            <div id="u641_text" class="text ">
                <p><span>Jesteś: Prowadzącym</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u642" class="ax_default image">
            <a asp-controller="Home" asp-action="Index">
                <img id="u642_img" class="img " src="../images/lecturerfinalthesisformdetails/u13.png" />
            </a>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u643" class="ax_default label">
            <div id="u643_div" class=""></div>
            <div id="u643_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u644" class="ax_default image">
            <img id="u644_img" class="img " src="../images/lecturerfinalthesisformdetails/u69.png" />
            <div id="u644_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u645" class="ax_default box_1">
        <div id="u645_div" class=""></div>
        <div id="u645_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u646" class="ax_default label">
        <div id="u646_div" class=""></div>
        <div id="u646_text" class="text ">
            <p><span>Zarządzanie obecnościami</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u647" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1480" data-height="411">

        <!-- Wprowadź dane (Group) -->
        <div id="u648" class="ax_default" data-label="Wprowadź dane" data-left="410" data-top="148" data-width="1480" data-height="173">

            <!-- Unnamed (Rectangle) -->
            <div id="u649" class="ax_default box_1">
                <div id="u649_div" class=""></div>
                <div id="u649_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u650" class="ax_default label">
                <div id="u650_div" class=""></div>
                <div id="u650_text" class="text ">
                    <p><span>Wprowadź dane</span></p>
                </div>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u651" class="ax_default droplist">
                <div id="u651_div" class=""></div>
                <select id="u651_input" class="u651_input">
                    <option class="u651_input_option" selected value="Projektowanie oprogramowania">Projektowanie oprogramowania</option>
                </select>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u652" class="ax_default button">
                <div id="u652_div" class=""></div>
                <div id="u652_text" class="text ">
                    <p><a asp-controller="LecturerPresenceList" asp-action="Details">Pokaż</a></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u653" class="ax_default label">
                <div id="u653_div" class=""></div>
                <div id="u653_text" class="text ">
                    <p><span>Kurs:</span></p>
                </div>
            </div>
        </div>

        <!-- Lista obecności (Group) -->
        <div id="u654" class="ax_default" data-label="Lista obecności" data-left="410" data-top="351" data-width="725" data-height="208">

            <!-- Unnamed (Rectangle) -->
            <div id="u655" class="ax_default box_1">
                <div id="u655_div" class=""></div>
                <div id="u655_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u656" class="ax_default label">
                <div id="u656_div" class=""></div>
                <div id="u656_text" class="text ">
                    <p><span>Lista obecności</span></p>
                </div>
            </div>

            <!-- Unnamed (Table) -->
            <div id="u657" class="ax_default">

                <!-- Unnamed (Table Cell) -->
                <div id="u658" class="ax_default table_cell">
                    <img id="u658_img" class="img " src="../images/participantpresence/u601.png" />
                    <div id="u658_text" class="text ">
                        <p><span>#</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u659" class="ax_default table_cell">
                    <img id="u659_img" class="img " src="../images/participantpresence/u602.png" />
                    <div id="u659_text" class="text ">
                        <p><span>Imię</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u660" class="ax_default table_cell">
                    <img id="u660_img" class="img " src="../images/participantpresence/u602.png" />
                    <div id="u660_text" class="text ">
                        <p><span>Nazwisko</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u661" class="ax_default table_cell">
                    <img id="u661_img" class="img " src="../images/participantpresence/u602.png" />
                    <div id="u661_text" class="text ">
                        <p><span>Obecności</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u662" class="ax_default table_cell">
                    <img id="u662_img" class="img " src="../images/participantpresence/u605.png" />
                    <div id="u662_text" class="text ">
                        <p><span>Nieobecności</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u663" class="ax_default table_cell">
                    <img id="u663_img" class="img " src="../images/lecturerpresencelist/u663.png" />
                    <div id="u663_text" class="text ">
                        <p><span>1</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u664" class="ax_default table_cell">
                    <img id="u664_img" class="img " src="../images/lecturerpresencelist/u664.png" />
                    <div id="u664_text" class="text ">
                        <p><span>Kamil</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u665" class="ax_default table_cell">
                    <img id="u665_img" class="img " src="../images/lecturerpresencelist/u664.png" />
                    <div id="u665_text" class="text ">
                        <p><span>Graczyk</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u666" class="ax_default table_cell">
                    <img id="u666_img" class="img " src="../images/lecturerpresencelist/u666.png" />
                    <div id="u666_text" class="text ">
                        <p><span>4</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u667" class="ax_default table_cell">
                    <img id="u667_img" class="img " src="../images/lecturerpresencelist/u667.png" />
                    <div id="u667_text" class="text ">
                        <p><span>0</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u668" class="ax_default table_cell">
                    <img id="u668_img" class="img " src="../images/lecturerpresencelist/u668.png" />
                    <div id="u668_text" class="text ">
                        <p><span>2</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u669" class="ax_default table_cell">
                    <img id="u669_img" class="img " src="../images/lecturerpresencelist/u664.png" />
                    <div id="u669_text" class="text ">
                        <p><span>Konrad</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u670" class="ax_default table_cell">
                    <img id="u670_img" class="img " src="../images/lecturerpresencelist/u664.png" />
                    <div id="u670_text" class="text ">
                        <p><span>Hajduga</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u671" class="ax_default table_cell">
                    <img id="u671_img" class="img " src="../images/lecturerpresencelist/u666.png" />
                    <div id="u671_text" class="text ">
                        <p><span>3</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u672" class="ax_default table_cell">
                    <img id="u672_img" class="img " src="../images/lecturerpresencelist/u667.png" />
                    <div id="u672_text" class="text ">
                        <p><span>1</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Statystyki (Group) -->
        <div id="u673" class="ax_default" data-label="Statystyki" data-left="1165" data-top="351" data-width="725" data-height="208">

            <!-- Unnamed (Rectangle) -->
            <div id="u674" class="ax_default box_1">
                <div id="u674_div" class=""></div>
                <div id="u674_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u675" class="ax_default label">
                <div id="u675_div" class=""></div>
                <div id="u675_text" class="text ">
                    <p><span>Statystyki obecności</span></p>
                </div>
            </div>

            <!-- Unnamed (Table) -->
            <div id="u676" class="ax_default">

                <!-- Unnamed (Table Cell) -->
                <div id="u677" class="ax_default table_cell">
                    <img id="u677_img" class="img " src="../images/participantpresence/u620.png" />
                    <div id="u677_text" class="text ">
                        <p><span>Obecności łącznie w grupie</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u678" class="ax_default table_cell">
                    <img id="u678_img" class="img " src="../images/participantpresence/u621.png" />
                    <div id="u678_text" class="text ">
                        <p><span>1 raz / 12%</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u679" class="ax_default table_cell">
                    <img id="u679_img" class="img " src="../images/participantpresence/u620.png" />
                    <div id="u679_text" class="text ">
                        <p><span>Nieobecności łącznie w grupie</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u680" class="ax_default table_cell">
                    <img id="u680_img" class="img " src="../images/participantpresence/u621.png" />
                    <div id="u680_text" class="text ">
                        <p><span>7 razy / 88%</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u681" class="ax_default table_cell">
                    <img id="u681_img" class="img " src="../images/participantpresence/u620.png" />
                    <div id="u681_text" class="text ">
                        <p><span>Odbytych zajęć</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u682" class="ax_default table_cell">
                    <img id="u682_img" class="img " src="../images/participantpresence/u621.png" />
                    <div id="u682_text" class="text ">
                        <p><span>4 razy</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
