
@{
    ViewData["Title"] = "Index";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u232" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u233" class="ax_default box_1">
            <div id="u233_div" class=""></div>
            <div id="u233_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u104" class="ax_default heading_1">
            <div id="u104_div" class=""></div>
            <div id="u104_text" class="text ">
                <p><a asp-controller="LecturerIndex" asp-action="Index">Studia Podyplomowe</a></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u235" class="ax_default droplist">
            <div id="u235_div" class=""></div>
            <select id="u235_input" class="u235_input">
                <option class="u235_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u235_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u235_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- prace (Group) -->
        <div id="u236" class="ax_default" data-label="prace" data-left="30" data-top="196" data-width="228" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u237" class="ax_default heading_2">
                <div id="u237_div" class=""></div>
                <div id="u237_text" class="text ">
                    <p><a asp-controller="LecturerFinalThesisList" asp-action="Index">Ocenianie prac końcowych</a></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u238" class="ax_default image">
                <img id="u238_img" class="img " src="../images/lecturerindex/u238.png" />
                <div id="u238_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- oceny (Group) -->
        <div id="u239" class="ax_default" data-label="oceny" data-left="30" data-top="246" data-width="169" data-height="30">

            <!-- Unnamed (Image) -->
            <div id="u240" class="ax_default image">
                <img id="u240_img" class="img " src="../images/lecturerfinalthesisformdetails/u6.png" />
                <div id="u240_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u241" class="ax_default heading_2">
                <div id="u241_div" class=""></div>
                <div id="u241_text" class="text ">
                    <p><a asp-controller="LecturerGradesList" asp-action="Index">Oceny studentów</a></p>
                </div>
            </div>
        </div>

        <!-- obecnosci (Group) -->
        <div id="u242" class="ax_default" data-label="obecnosci" data-left="30" data-top="296" data-width="225" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u243" class="ax_default heading_2">
                <div id="u243_div" class=""></div>
                <div id="u243_text" class="text ">
                    <p><a asp-controller="LecturerPresenceList" asp-action="Index">Zarządzanie obecnościami</a></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u244" class="ax_default image">
                <img id="u244_img" class="img " src="../images/lecturerfinalthesisformdetails/u9.png" />
                <div id="u244_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u245" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u246" class="ax_default box_1">
            <div id="u246_div" class=""></div>
            <div id="u246_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u247" class="ax_default label">
            <div id="u247_div" class=""></div>
            <div id="u247_text" class="text ">
                <p><span>Jesteś: Prowadzącym</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u248" class="ax_default image">
            <a asp-controller="Home" asp-action="Index">
                <img id="u248_img" class="img " src="../images/lecturerfinalthesisformdetails/u13.png" />
            </a>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u249" class="ax_default label">
            <div id="u249_div" class=""></div>
            <div id="u249_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u250" class="ax_default image">
            <img id="u250_img" class="img " src="../images/lecturerfinalthesisformdetails/u69.png" />
            <div id="u250_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u251" class="ax_default box_1">
        <div id="u251_div" class=""></div>
        <div id="u251_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u252" class="ax_default" data-label="Content 1 box" data-left="410" data-top="100" data-width="1480" data-height="200">

        <!-- Wprowadź dane (Group) -->
        <div id="u253" class="ax_default" data-label="Wprowadź dane" data-left="410" data-top="100" data-width="1480" data-height="200">

            <!-- Unnamed (Rectangle) -->
            <div id="u254" class="ax_default box_1">
                <div id="u254_div" class=""></div>
                <div id="u254_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u255" class="ax_default image">
                <img id="u255_img" class="img " src="../images/lecturerfinalthesisformdetails/u69.png" />
                <div id="u255_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u256" class="ax_default heading_1">
                <div id="u256_div" class=""></div>
                <div id="u256_text" class="text ">
                    <p><span>Aga Kowalska</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u257" class="ax_default label">
                <div id="u257_div" class=""></div>
                <div id="u257_text" class="text ">
                    <p><span>Wybierz co chcesz zrobić<br>z menu po lewo</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
