@model PO_implementacja_StudiaPodyplomowe.Models.Grade;

@{
    ViewData["Title"] = "Add";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u745" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u746" class="ax_default box_1">
            <div id="u746_div" class=""></div>
            <div id="u746_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u747" class="ax_default" data-left="30" data-top="30" data-width="310" data-height="296">

            <!-- Unnamed (Rectangle) -->
            <div id="u748" class="ax_default heading_1">
                <div id="u748_div" class=""></div>
                <div id="u748_text" class="text ">
                    <p><span>Studia Podyplomowe</span></p>
                </div>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u749" class="ax_default droplist">
                <div id="u749_div" class=""></div>
                <select id="u749_input" class="u749_input">
                    <option class="u749_input_option" value="Edycja 1">Edycja 1</option>
                    <option class="u749_input_option" value="Edycja 2">Edycja 2</option>
                    <option class="u749_input_option" value="Edycja 3">Edycja 3</option>
                </select>
            </div>

            <!-- prace (Group) -->
            <div id="u750" class="ax_default" data-label="prace" data-left="30" data-top="196" data-width="228" data-height="30">

                <!-- Unnamed (Rectangle) -->
                <div id="u751" class="ax_default heading_2">
                    <div id="u751_div" class=""></div>
                    <div id="u751_text" class="text ">
                        <p><span>Ocenianie prac końcowych</span></p>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u752" class="ax_default image">
                    <img id="u752_img" class="img " src="../images/lecturerindex/u238.png" />
                    <div id="u752_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- oceny (Group) -->
            <div id="u753" class="ax_default" data-label="oceny" data-left="30" data-top="246" data-width="169" data-height="30">

                <!-- Unnamed (Image) -->
                <div id="u754" class="ax_default image">
                    <img id="u754_img" class="img " src="../images/lecturergradedetails/u718.png" />
                    <div id="u754_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u755" class="ax_default heading_2">
                    <div id="u755_div" class=""></div>
                    <div id="u755_text" class="text ">
                        <p><span>Oceny studentów</span></p>
                    </div>
                </div>
            </div>

            <!-- obecnosci (Group) -->
            <div id="u756" class="ax_default" data-label="obecnosci" data-left="30" data-top="296" data-width="225" data-height="30">

                <!-- Unnamed (Rectangle) -->
                <div id="u757" class="ax_default heading_2">
                    <div id="u757_div" class=""></div>
                    <div id="u757_text" class="text ">
                        <p><span>Zarządzanie obecnościami</span></p>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u758" class="ax_default image">
                    <img id="u758_img" class="img " src="../images/lecturerfinalthesisformdetails/u9.png" />
                    <div id="u758_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u759" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u760" class="ax_default box_1">
            <div id="u760_div" class=""></div>
            <div id="u760_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u761" class="ax_default label">
            <div id="u761_div" class=""></div>
            <div id="u761_text" class="text ">
                <p><span>Jesteś: Prowadzącym</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u762" class="ax_default image">
            <img id="u762_img" class="img " src="../images/lecturerfinalthesisformdetails/u13.png" />
            <div id="u762_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u763" class="ax_default label">
            <div id="u763_div" class=""></div>
            <div id="u763_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u764" class="ax_default image">
            <img id="u764_img" class="img " src="../images/lecturerfinalthesisformdetails/u69.png" />
            <div id="u764_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u765" class="ax_default box_1">
        <div id="u765_div" class=""></div>
        <div id="u765_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u766" class="ax_default label">
        <div id="u766_div" class=""></div>
        <div id="u766_text" class="text ">
            <p><span>Dodawanie oceny</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u767" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1480" data-height="382">

        <!-- Unnamed (Rectangle) -->
        <div id="u768" class="ax_default box_1">
            <div id="u768_div" class=""></div>
            <div id="u768_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u769" class="ax_default label">
            <div id="u769_div" class=""></div>
            <div id="u769_text" class="text ">
                <p><span>Dane oceny</span></p>
            </div>
        </div>

        <!-- labels (Group) -->
        <div id="u770" class="ax_default" data-label="labels" data-left="430" data-top="249" data-width="250" data-height="159">

            <!-- Data (Rectangle) -->
            <div id="u771" class="ax_default label" data-label="Data">
                <div id="u771_div" class=""></div>
                <div id="u771_text" class="text ">
                    <p><span>Data</span></p>
                </div>
            </div>

            <!-- Ocena (Rectangle) -->
            <div id="u772" class="ax_default label" data-label="Ocena">
                <div id="u772_div" class=""></div>
                <div id="u772_text" class="text ">
                    <p><span>Ocena</span></p>
                </div>
            </div>

            <!-- Komentarz (Rectangle) -->
            <div id="u773" class="ax_default label" data-label="Komentarz">
                <div id="u773_div" class=""></div>
                <div id="u773_text" class="text ">
                    <p><span>Komentarz</span></p>
                </div>
            </div>
        </div>

        <!-- dane (Group) -->
        <div id="u774" class="ax_default" data-label="dane" data-left="700" data-top="240" data-width="1170" data-height="210">

            <!-- Data TextField (Text Field) -->
            <div id="u775" class="ax_default text_field" data-label="Data TextField">
                <img id="u775_img" class="img " src="../images/lecturergradeadd/data_textfield_u775.svg" />
                <input id="u775_input" type="text" value="" class="u775_input" />
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u776" class="ax_default droplist">
                <div id="u776_div" class=""></div>
                <select id="u776_input" class="u776_input" asp-items="Html.GetEnumSelectList<Grade>()"> <!--asp-items="Html.GetEnumSelectList<Grade>()" -->
                    <option class="u776_input_option" selected value="--Wybierz ocenę--">--Wybierz ocenę--</option>
                    <option class="u776_input_option" value="2.0">2.0</option>
                    <option class="u776_input_option" value="3.0">3.0</option>
                    <option class="u776_input_option" value="3.5">3.5</option>
                    <option class="u776_input_option" value="4.0">4.0</option>
                    <option class="u776_input_option" value="4.5">4.5</option>
                    <option class="u776_input_option" value="5.0">5.0</option>
                    <option class="u776_input_option" value="5.5">5.5</option>
                </select>
            </div>

            <!-- Komentarz TextArea (Text Area) -->
            <div id="u777" class="ax_default text_area" data-label="Komentarz TextArea">
                <div id="u777_div" class=""></div>
                <textarea id="u777_input" class="u777_input"></textarea>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u778" class="ax_default button">
            <div id="u778_div" class=""></div>
            <div id="u778_text" class="text ">
                <p><span>Zatwierdź</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u779" class="ax_default label">
            <div id="u779_div" class=""></div>
            <div id="u779_text" class="text ">
                <p><span>Wszystkie pola są obligatoryjne.</span></p>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
