
@{
    ViewData["Title"] = "Index";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u209" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u210" class="ax_default box_1">
            <div id="u210_div" class=""></div>
            <div id="u210_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u211" class="ax_default heading_1">
            <div id="u211_div" class=""></div>
            <div id="u211_text" class="text ">
                <p><span>Studia Podyplomowe</span></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u212" class="ax_default droplist">
            <div id="u212_div" class=""></div>
            <select id="u212_input" class="u212_input">
                <option class="u212_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u212_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u212_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>

        <!-- prace (Group) -->
        <div id="u213" class="ax_default" data-label="prace" data-left="30" data-top="196" data-width="228" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u214" class="ax_default heading_2">
                <div id="u214_div" class=""></div>
                <div id="u214_text" class="text ">
                    <p><span>Ocenianie prac końcowych</span></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u215" class="ax_default image">
                <img id="u215_img" class="img " src="images/prowadzacy_startowa/u6.png" />
                <div id="u215_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- oceny (Group) -->
        <div id="u216" class="ax_default" data-label="oceny" data-left="30" data-top="246" data-width="169" data-height="30">

            <!-- Unnamed (Image) -->
            <div id="u217" class="ax_default image">
                <img id="u217_img" class="img " src="images/edycja_oceny/u118.png" />
                <div id="u217_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u218" class="ax_default heading_2">
                <div id="u218_div" class=""></div>
                <div id="u218_text" class="text ">
                    <p><span>Oceny studentów</span></p>
                </div>
            </div>
        </div>

        <!-- obecnosci (Group) -->
        <div id="u219" class="ax_default" data-label="obecnosci" data-left="30" data-top="296" data-width="225" data-height="30">

            <!-- Unnamed (Rectangle) -->
            <div id="u220" class="ax_default heading_2">
                <div id="u220_div" class=""></div>
                <div id="u220_text" class="text ">
                    <p><span>Zarządzanie obecnościami</span></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u221" class="ax_default image">
                <img id="u221_img" class="img " src="images/prowadzacy_startowa/u12.png" />
                <div id="u221_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u222" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u223" class="ax_default box_1">
            <div id="u223_div" class=""></div>
            <div id="u223_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u224" class="ax_default label">
            <div id="u224_div" class=""></div>
            <div id="u224_text" class="text ">
                <p><span>Jesteś: Prowadzącym</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u225" class="ax_default image">
            <img id="u225_img" class="img " src="images/prowadzacy_startowa/u16.png" />
            <div id="u225_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u226" class="ax_default label">
            <div id="u226_div" class=""></div>
            <div id="u226_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u227" class="ax_default image">
            <img id="u227_img" class="img " src="images/prowadzacy_startowa/u18.png" />
            <div id="u227_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u228" class="ax_default box_1">
        <div id="u228_div" class=""></div>
        <div id="u228_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u229" class="ax_default label">
        <div id="u229_div" class=""></div>
        <div id="u229_text" class="text ">
            <p><span>Oceny studenta</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u230" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1480" data-height="502">

        <!-- Wprowadź dane (Group) -->
        <div id="u231" class="ax_default" data-label="Wprowadź dane" data-left="410" data-top="148" data-width="1480" data-height="226">

            <!-- Unnamed (Rectangle) -->
            <div id="u232" class="ax_default box_1">
                <div id="u232_div" class=""></div>
                <div id="u232_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u233" class="ax_default label">
                <div id="u233_div" class=""></div>
                <div id="u233_text" class="text ">
                    <p><span>Wprowadź dane</span></p>
                </div>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u234" class="ax_default droplist">
                <div id="u234_div" class=""></div>
                <select id="u234_input" class="u234_input">
                    <option class="u234_input_option" selected value="Projektowanie oprogramowania">Projektowanie oprogramowania</option>
                </select>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u235" class="ax_default button">
                <div id="u235_div" class=""></div>
                <div id="u235_text" class="text ">
                    <p><span>Pokaż oceny</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u236" class="ax_default label">
                <div id="u236_div" class=""></div>
                <div id="u236_text" class="text ">
                    <p><span>Kurs:</span></p>
                </div>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u237" class="ax_default droplist">
                <div id="u237_div" class=""></div>
                <select id="u237_input" class="u237_input">
                    <option class="u237_input_option" value="Radosław Ścigała">Radosław Ścigała</option>
                </select>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u238" class="ax_default label">
                <div id="u238_div" class=""></div>
                <div id="u238_text" class="text ">
                    <p><span>Imię i nazwisko:</span></p>
                </div>
            </div>
        </div>

        <!-- Lista obecności (Group) -->
        <div id="u239" class="ax_default" data-label="Lista obecności" data-left="410" data-top="404" data-width="1480" data-height="246">

            <!-- Unnamed (Rectangle) -->
            <div id="u240" class="ax_default box_1">
                <div id="u240_div" class=""></div>
                <div id="u240_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u241" class="ax_default label">
                <div id="u241_div" class=""></div>
                <div id="u241_text" class="text ">
                    <p><span>Lista ocen</span></p>
                </div>
            </div>

            <!-- Unnamed (Table) -->
            <div id="u242" class="ax_default">

                <!-- Unnamed (Table Cell) -->
                <div id="u243" class="ax_default table_cell">
                    <img id="u243_img" class="img " src="images/oceny_studenta/u243.png" />
                    <div id="u243_text" class="text ">
                        <p><span>#</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u244" class="ax_default table_cell">
                    <img id="u244_img" class="img " src="images/oceny_studenta/u244.png" />
                    <div id="u244_text" class="text ">
                        <p><span>Data</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u245" class="ax_default table_cell">
                    <img id="u245_img" class="img " src="images/oceny_studenta/u245.png" />
                    <div id="u245_text" class="text ">
                        <p><span>Ocena</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u246" class="ax_default table_cell">
                    <img id="u246_img" class="img " src="images/oceny_studenta/u246.png" />
                    <div id="u246_text" class="text ">
                        <p><span>Komentarz</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u247" class="ax_default table_cell">
                    <img id="u247_img" class="img " src="images/oceny_studenta/u247.png" />
                    <div id="u247_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u248" class="ax_default table_cell">
                    <img id="u248_img" class="img " src="images/oceny_studenta/u247.png" />
                    <div id="u248_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u249" class="ax_default table_cell">
                    <img id="u249_img" class="img " src="images/oceny_studenta/u249.png" />
                    <div id="u249_text" class="text ">
                        <p><span>1</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u250" class="ax_default table_cell">
                    <img id="u250_img" class="img " src="images/oceny_studenta/u250.png" />
                    <div id="u250_text" class="text ">
                        <p><span>15.12.2020</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u251" class="ax_default table_cell">
                    <img id="u251_img" class="img " src="images/oceny_studenta/u251.png" />
                    <div id="u251_text" class="text ">
                        <p><span>5.0</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u252" class="ax_default table_cell">
                    <img id="u252_img" class="img " src="images/oceny_studenta/u252.png" />
                    <div id="u252_text" class="text ">
                        <p><span>Bardzo dobrze wykonana praca.</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u253" class="ax_default table_cell">
                    <img id="u253_img" class="img " src="images/oceny_studenta/u253.png" />
                    <div id="u253_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u254" class="ax_default table_cell">
                    <img id="u254_img" class="img " src="images/oceny_studenta/u253.png" />
                    <div id="u254_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u255" class="ax_default table_cell">
                    <img id="u255_img" class="img " src="images/oceny_studenta/u249.png" />
                    <div id="u255_text" class="text ">
                        <p><span>2</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u256" class="ax_default table_cell">
                    <img id="u256_img" class="img " src="images/oceny_studenta/u250.png" />
                    <div id="u256_text" class="text ">
                        <p><span>22.12.2020</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u257" class="ax_default table_cell">
                    <img id="u257_img" class="img " src="images/oceny_studenta/u257.png" />
                    <div id="u257_text" class="text ">
                        <p><span>4.5</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u258" class="ax_default table_cell">
                    <img id="u258_img" class="img " src="images/oceny_studenta/u252.png" />
                    <div id="u258_text" class="text ">
                        <p><span>Jest ok, ale mogło by być lepiej.</span></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u259" class="ax_default table_cell">
                    <img id="u259_img" class="img " src="images/oceny_studenta/u253.png" />
                    <div id="u259_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Table Cell) -->
                <div id="u260" class="ax_default table_cell">
                    <img id="u260_img" class="img " src="images/oceny_studenta/u253.png" />
                    <div id="u260_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- edit_img2 (Image) -->
            <div id="u261" class="ax_default image" data-label="edit_img2">
                <img id="u261_img" class="img " src="images/oceny_studenta/edit_img2_u261.png" />
                <div id="u261_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- edit_img1 (Image) -->
            <div id="u262" class="ax_default image" data-label="edit_img1">
                <img id="u262_img" class="img " src="images/oceny_studenta/edit_img2_u261.png" />
                <div id="u262_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- delete_img1 (Image) -->
            <div id="u263" class="ax_default image" data-label="delete_img1">
                <img id="u263_img" class="img " src="images/oceny_studenta/delete_img1_u263.png" />
                <div id="u263_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- delete_img2 (Image) -->
            <div id="u264" class="ax_default image" data-label="delete_img2">
                <img id="u264_img" class="img " src="images/oceny_studenta/delete_img1_u263.png" />
                <div id="u264_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- add_img (Image) -->
            <div id="u265" class="ax_default image" data-label="add_img">
                <img id="u265_img" class="img " src="images/oceny_studenta/add_img_u265.png" />
                <div id="u265_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
