
@{
    ViewData["Title"] = "Index";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u145" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u146" class="ax_default box_1">
            <div id="u146_div" class=""></div>
            <div id="u146_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u147" class="ax_default" data-left="30" data-top="30" data-width="310" data-height="296">

            <!-- Unnamed (Rectangle) -->
            <div id="u148" class="ax_default heading_1">
                <div id="u148_div" class=""></div>
                <div id="u148_text" class="text ">
                    <p><span>Studia Podyplomowe</span></p>
                </div>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u149" class="ax_default droplist">
                <div id="u149_div" class=""></div>
                <select id="u149_input" class="u149_input">
                    <option class="u149_input_option" value="Edycja 1">Edycja 1</option>
                    <option class="u149_input_option" value="Edycja 2">Edycja 2</option>
                    <option class="u149_input_option" value="Edycja 3">Edycja 3</option>
                </select>
            </div>

            <!-- prace (Group) -->
            <div id="u150" class="ax_default" data-label="prace" data-left="30" data-top="196" data-width="228" data-height="30">

                <!-- Unnamed (Rectangle) -->
                <div id="u151" class="ax_default heading_2">
                    <div id="u151_div" class=""></div>
                    <div id="u151_text" class="text ">
                        <p><span>Ocenianie prac końcowych</span></p>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u152" class="ax_default image">
                    <img id="u152_img" class="img " src="images/prowadzacy_startowa/u6.png" />
                    <div id="u152_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- oceny (Group) -->
            <div id="u153" class="ax_default" data-label="oceny" data-left="30" data-top="246" data-width="169" data-height="30">

                <!-- Unnamed (Image) -->
                <div id="u154" class="ax_default image">
                    <img id="u154_img" class="img " src="images/edycja_oceny/u118.png" />
                    <div id="u154_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u155" class="ax_default heading_2">
                    <div id="u155_div" class=""></div>
                    <div id="u155_text" class="text ">
                        <p><span>Oceny studentów</span></p>
                    </div>
                </div>
            </div>

            <!-- obecnosci (Group) -->
            <div id="u156" class="ax_default" data-label="obecnosci" data-left="30" data-top="296" data-width="225" data-height="30">

                <!-- Unnamed (Rectangle) -->
                <div id="u157" class="ax_default heading_2">
                    <div id="u157_div" class=""></div>
                    <div id="u157_text" class="text ">
                        <p><span>Zarządzanie obecnościami</span></p>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u158" class="ax_default image">
                    <img id="u158_img" class="img " src="images/prowadzacy_startowa/u12.png" />
                    <div id="u158_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u159" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u160" class="ax_default box_1">
            <div id="u160_div" class=""></div>
            <div id="u160_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u161" class="ax_default label">
            <div id="u161_div" class=""></div>
            <div id="u161_text" class="text ">
                <p><span>Jesteś: Prowadzącym</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u162" class="ax_default image">
            <img id="u162_img" class="img " src="images/prowadzacy_startowa/u16.png" />
            <div id="u162_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u163" class="ax_default label">
            <div id="u163_div" class=""></div>
            <div id="u163_text" class="text ">
                <p><span>Aga Kowalska</span></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u164" class="ax_default image">
            <img id="u164_img" class="img " src="images/prowadzacy_startowa/u18.png" />
            <div id="u164_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u165" class="ax_default box_1">
        <div id="u165_div" class=""></div>
        <div id="u165_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u166" class="ax_default label">
        <div id="u166_div" class=""></div>
        <div id="u166_text" class="text ">
            <p><span>Dodawanie oceny</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u167" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1480" data-height="382">

        <!-- Unnamed (Rectangle) -->
        <div id="u168" class="ax_default box_1">
            <div id="u168_div" class=""></div>
            <div id="u168_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u169" class="ax_default label">
            <div id="u169_div" class=""></div>
            <div id="u169_text" class="text ">
                <p><span>Dane oceny</span></p>
            </div>
        </div>

        <!-- labels (Group) -->
        <div id="u170" class="ax_default" data-label="labels" data-left="430" data-top="249" data-width="250" data-height="159">

            <!-- Data (Rectangle) -->
            <div id="u171" class="ax_default label" data-label="Data">
                <div id="u171_div" class=""></div>
                <div id="u171_text" class="text ">
                    <p><span>Data</span></p>
                </div>
            </div>

            <!-- Ocena (Rectangle) -->
            <div id="u172" class="ax_default label" data-label="Ocena">
                <div id="u172_div" class=""></div>
                <div id="u172_text" class="text ">
                    <p><span>Ocena</span></p>
                </div>
            </div>

            <!-- Komentarz (Rectangle) -->
            <div id="u173" class="ax_default label" data-label="Komentarz">
                <div id="u173_div" class=""></div>
                <div id="u173_text" class="text ">
                    <p><span>Komentarz</span></p>
                </div>
            </div>
        </div>

        <!-- dane (Group) -->
        <div id="u174" class="ax_default" data-label="dane" data-left="700" data-top="240" data-width="1170" data-height="210">

            <!-- Data TextField (Text Field) -->
            <div id="u175" class="ax_default text_field" data-label="Data TextField">
                <img id="u175_img" class="img " src="images/dodawanie_oceny/data_textfield_u175.svg" />
                <input id="u175_input" type="text" value="" class="u175_input" />
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u176" class="ax_default droplist">
                <div id="u176_div" class=""></div>
                <select id="u176_input" class="u176_input">
                    <option class="u176_input_option" selected value="--Wybierz ocenę--">--Wybierz ocenę--</option>
                    <option class="u176_input_option" value="2.0">2.0</option>
                    <option class="u176_input_option" value="3.0">3.0</option>
                    <option class="u176_input_option" value="3.5">3.5</option>
                    <option class="u176_input_option" value="4.0">4.0</option>
                    <option class="u176_input_option" value="4.5">4.5</option>
                    <option class="u176_input_option" value="5.0">5.0</option>
                    <option class="u176_input_option" value="5.5">5.5</option>
                </select>
            </div>

            <!-- Komentarz TextArea (Text Area) -->
            <div id="u177" class="ax_default text_area" data-label="Komentarz TextArea">
                <div id="u177_div" class=""></div>
                <textarea id="u177_input" class="u177_input"></textarea>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u178" class="ax_default button">
            <div id="u178_div" class=""></div>
            <div id="u178_text" class="text ">
                <p><span>Zatwierdź</span></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u179" class="ax_default label">
            <div id="u179_div" class=""></div>
            <div id="u179_text" class="text ">
                <p><span>Wszystkie pola są obligatoryjne.</span></p>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
