.content_card {
	position: absolute;
	left: 410px;
	top: 138px;
	width: 1500px;
	display: block;
	text-align: left;
}

.content_card .card {
	width: 463px;
	display: inline-block;
	color: #495057;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	margin-bottom: 30px;
	margin-right: 20px;
	padding-bottom: 20px;
}

.content_card .card table {
	width: 420px;
	vertical-align: top;
	border-spacing: 20px;
}

.content_card .card table tr td {
	vertical-align: top;
}

.content_card .card table .column_one {
	width: 120px;
	font-size: 14px;
	text-align: left;
	color: #556EE6;
	margin-top: 10px;
	margin-bottom: 15px;
}

.content_card .card table .column_two {
	width: 289px;
	font-size: 14px;
	text-align: left;
}

.content_card .card table .topic_font_size {
	font-size: 20px;
}

.content_card .card img.status {
	position: relative;
	right: 20px;
	top: 10px;
	height: 25px;
	width: 25px;
	float: right;
}

.content_card .card .button_box {
	width: 420px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: -5px;
	text-align: center;
}

.content_card .card .button_box .single_button_box {
	height: 50px;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}


.content_card .card .button_box .single_button_box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 24px;
	height: 24px;
}



.content_small_tab {
	position: absolute;
	left: 410px;
	top: 350px;
	width: 725px;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 10px;
	color: #495057;
	padding-bottom: 40px;
}

.content_small_tab .present {
	background-color: #95e0c5;
}

.content_small_tab .absent {
	background-color: #f9b2b2;
}

.content_small_tab table {
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
}

.content_small_tab table thead {
	font-weight: 700;
}

.content_small_tab table td {
	padding: 10px;
}

.content_small_tab table .col_1 {
	width: 80px;
}

.content_small_tab table .col_2 {
	width: 120px;
}

.content_small_tab table .col_3 {
	width: 120px;
}

.content_small_tab table .col_4 {
	width: 120px;
}

.content_small_tab table .col_5 {
	width: 130px;
}

.content_small_tab label {
	font-family: 'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	color: #495057;
	text-align: left;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.content_big_tab {
	font-family: 'Arial Pogrubiony', 'Arial Normalny', 'Arial', sans-serif;
	position: absolute;
	left: 410px;
	top: 148px;
	width: 1480px;
	background-color: rgba(255, 255, 255, 1);
	border: none;
	border-radius: 10px;
	color: #495057;
}

.content_big_tab label {
	font-weight: 700;
	font-style: normal;
	font-size: 15px;
	color: #495057;
	text-align: left;
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.content_big_tab table {
	font-weight: 400;
	font-style: normal;
	font-size: 13px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0;
}

.content_big_tab table thead {
	font-weight: 700;
}

.content_big_tab table td {
	padding: 10px;
}

.content_big_tab table .col_1 {
	width: 40px;
}

.content_big_tab table .col_2 {
	width: 205px;
}

.content_big_tab table .col_3 {
	width: 110px;
}

.content_big_tab table .col_4 {
	width: 220px;
}

.content_big_tab table .col_5 {
	width: 660px;
}

.content_big_tab table .col_6 {
	width: 100px;
}

	.content_big_tab table.final_exam .col_1 {
		width: 60px;
	}

	.content_big_tab table.final_exam .col_2 {
		width: 205px;
	}

	.content_big_tab table.final_exam .col_3 {
		width: 110px;
	}

	.content_big_tab table.final_exam .col_4 {
		width: 220px;
	}

	.content_big_tab table.final_exam .col_5 {
		width: 660px;
	}

	.content_big_tab table.final_exam .col_6 {
		width: 150px;
	}

.content_big_tab table img {
	width: 24px;
	height: 24px;
}

.content_big_tab img.add {
	width: 24px;
	height: 24px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}
