@{
    ViewData["Title"] = "Home Page";
}


    <div id="base" class="">

        <!-- Menu (Group) -->
        <div id="u0" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="2000">

            <!-- Unnamed (Rectangle) -->
            <div id="u1" class="ax_default box_1">
                <div id="u1_div" class=""></div>
                <div id="u1_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2" class="ax_default heading_1">
                <div id="u2_div" class=""></div>
                <div id="u2_text" class="text ">
                    <p><span>Studia Podyplomowe</span></p>
                </div>
            </div>

            <!-- Unnamed (Droplist) -->
            <div id="u3" class="ax_default droplist">
                <div id="u3_div" class=""></div>
                <select id="u3_input" class="u3_input">
                    <option class="u3_input_option" value="Edycja 1">Edycja 1</option>
                    <option class="u3_input_option" value="Edycja 2">Edycja 2</option>
                    <option class="u3_input_option" value="Edycja 3">Edycja 3</option>
                </select>
            </div>
        </div>

        <!-- Topka (Group) -->
        <div id="u4" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

            <!-- Unnamed (Rectangle) -->
            <div id="u5" class="ax_default box_1">
                <div id="u5_div" class=""></div>
                <div id="u5_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u6" class="ax_default box_1">
            <div id="u6_div" class=""></div>
            <div id="u6_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u7" class="ax_default label">
            <div id="u7_div" class=""></div>
            <div id="u7_text" class="text ">
                <p><span>Logowanie do systemu</span></p>
            </div>
        </div>

        <!-- Content 1 box (Group) -->
        <div id="u8" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1304" data-height="271">

            <!-- Content 1 box (Group) -->
            <div id="u9" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="415" data-height="271">

                <!-- Unnamed (Rectangle) -->
                <div id="u10" class="ax_default box_1">
                    <div id="u10_div" class=""></div>
                    <div id="u10_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u11" class="ax_default label">
                    <div id="u11_div" class=""></div>
                    <div id="u11_text" class="text ">
                        <p><span>Wybierz typ konta</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u12" class="ax_default label">
                    <div id="u12_div" class=""></div>
                    <div id="u12_text" class="text ">
                        <p><span>Administrator</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u13" class="ax_default button">
                    <div id="u13_div" class=""></div>
                    <div id="u13_text" class="text ">
                        <p><span>Zaloguj</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u14" class="ax_default label">
                    <div id="u14_div" class=""></div>
                    <div id="u14_text" class="text ">
                        <p><span>Kierownik</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u15" class="ax_default button">
                    <div id="u15_div" class=""></div>
                    <div id="u15_text" class="text ">
                        <p><span>Zaloguj</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u16" class="ax_default label">
                    <div id="u16_div" class=""></div>
                    <div id="u16_text" class="text ">
                        <p><span>Prowadzący</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u17" class="ax_default button">
                    <div id="u17_div" class=""></div>
                    <div id="u17_text" class="text ">
                        <p><span>@Html.ActionLink("Zaloguj", "", new { controller = "LecturerIndex", action = "Index" })</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u18" class="ax_default label">
                    <div id="u18_div" class=""></div>
                    <div id="u18_text" class="text ">
                        <p><span>Uczestnik</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u19" class="ax_default button">
                    <div id="u19_div" class=""></div>
                    <div id="u19_text" class="text ">
                        <p><span>Zaloguj</span></p>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u20" class="ax_default image">
                <img id="u20_img" class="img " src="images/logowanie/regen/u20.png" />
                <div id="u20_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>
        </div>
    </div>