
@{
    ViewData["Title"] = "Index";
}

<div id="base" class="">

    <!-- Menu (Group) -->
    <div id="u213" class="ax_default" data-label="Menu" data-left="0" data-top="0" data-width="370" data-height="1200">

        <!-- Unnamed (Rectangle) -->
        <div id="u214" class="ax_default box_1">
            <div id="u214_div" class=""></div>
            <div id="u214_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u215" class="ax_default heading_1">
            <div id="u215_div" class=""></div>
            <div id="u215_text" class="text ">
                <p><span>Studia Podyplomowe</span></p>
            </div>
        </div>

        <!-- Unnamed (Droplist) -->
        <div id="u216" class="ax_default droplist">
            <div id="u216_div" class=""></div>
            <select id="u216_input" class="u216_input">
                <option class="u216_input_option" value="Edycja 1">Edycja 1</option>
                <option class="u216_input_option" value="Edycja 2">Edycja 2</option>
                <option class="u216_input_option" value="Edycja 3">Edycja 3</option>
            </select>
        </div>
    </div>

    <!-- Topka (Group) -->
    <div id="u217" class="ax_default" data-label="Topka" data-left="370" data-top="0" data-width="1550" data-height="70">

        <!-- Unnamed (Rectangle) -->
        <div id="u218" class="ax_default box_1">
            <div id="u218_div" class=""></div>
            <div id="u218_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u219" class="ax_default box_1">
        <div id="u219_div" class=""></div>
        <div id="u219_text" class="text " style="display:none; visibility: hidden">
            <p></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u220" class="ax_default label">
        <div id="u220_div" class=""></div>
        <div id="u220_text" class="text ">
            <p><span>Wybór użytkownika systemu</span></p>
        </div>
    </div>

    <!-- Content 1 box (Group) -->
    <div id="u221" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="1304" data-height="250">

        <!-- Content 1 box (Group) -->
        <div id="u222" class="ax_default" data-label="Content 1 box" data-left="410" data-top="148" data-width="415" data-height="218">

            <!-- Unnamed (Rectangle) -->
            <div id="u223" class="ax_default box_1">
                <div id="u223_div" class=""></div>
                <div id="u223_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u224" class="ax_default label">
                <div id="u224_div" class=""></div>
                <div id="u224_text" class="text ">
                    <p><span>Wybierz typ konta</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u225" class="ax_default label">
                <div id="u225_div" class=""></div>
                <div id="u225_text" class="text ">
                    <p><span>Kierownik</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u226" class="ax_default button">
                <div id="u226_div" class=""></div>
                <div id="u226_text" class="text ">
                    <p><span>Wybierz</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u227" class="ax_default label">
                <div id="u227_div" class=""></div>
                <div id="u227_text" class="text ">
                    <p><span>Prowadzący</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u228" class="ax_default button">
                <div id="u228_div" class=""></div>
                <div id="u228_text" class="text ">
                    <p><span>Wybierz</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u229" class="ax_default label">
                <div id="u229_div" class=""></div>
                <div id="u229_text" class="text ">
                    <p><span>Uczestnik</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u230" class="ax_default button">
                <div id="u230_div" class=""></div>
                <div id="u230_text" class="text ">
                    <p><span>Wybierz</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u231" class="ax_default image">
            <img id="u231_img" class="img " src="../images/home/u231.png" />
            <div id="u231_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>
    </div>
</div>
<script src="resources/scripts/axure/ios.js"></script>
